body {
  background-image: url('../public/bg/1680x1050-px-backgrounds-brown-burn-dark-darker-804926-wallhere.com.jpg');
  background-position:bottom;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#charactor {
  /* max-height: 600px; */
  padding-left: 7em;
  padding-right: 7em;
}

#costume {
  height: 400px;
  padding-top: 50px;
}

.slick-slide.slick-active.slick-current > div > div, 
.slick-slide.slick-active > div > div,
.slick-slide > div > div {
  width: 200px !important;
}

.slick-prev, .slick-next {
  /* background-color: #282c34 !important; */
}

.slick-prev:before, .slick-next:before {
  color: #fff !important;
  font-size: 35px !important;
}

.checkmark.draw:after {
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  z-index: 99;
  opacity: 1;
  height: 20.5em;
  width: 7.75em;
  transform-origin: left top;
  border-right: 15px solid #5cb85c;
  border-top: 15px solid #5cb85c;
  content: "";
  left: 45%;
  top: 50%;
  position: absolute;
}

.homepage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.all-btn-last {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .container {
    max-width: 850px;
  }
}


@media screen and (max-width: 992px) {
  #charactor {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media screen and (max-width: 768px) {
  #charactor {
    padding-left: 11em;
    padding-right: 11em;
  }
}

@media screen and (max-width: 575px) {
  #charactor {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media screen and (max-width: 370px) {
  #charactor {
    padding-left: 3em;
    padding-right: 3em;
  }
}

h1, p {
  color: #fff !important;
  text-shadow: 5px 5px 10px #000;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
  color: #fff !important;
}
